USE [master]
GO
/****** Object:  Database [ECommerceDb]    Script Date: 16.09.2025 21:05:13 ******/
CREATE DATABASE [ECommerceDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECommerceDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ECommerceDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ECommerceDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ECommerceDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECommerceDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECommerceDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApiLogs]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[AuthTokenInfo] [nvarchar](max) NOT NULL,
	[UserAgent] [nvarchar](max) NOT NULL,
	[UserIp] [nvarchar](max) NOT NULL,
	[RequestMethod] [nvarchar](max) NOT NULL,
	[RequestUrl] [nvarchar](max) NOT NULL,
	[StatusCode] [int] NOT NULL,
	[RequestBody] [nvarchar](max) NOT NULL,
	[ResponseBody] [nvarchar](max) NOT NULL,
	[RequestTime] [datetime2](7) NOT NULL,
	[ResponseTimeInSeconds] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ApiLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[EntityName] [nvarchar](max) NOT NULL,
	[Operation] [nvarchar](max) NOT NULL,
	[EntityId] [uniqueidentifier] NOT NULL,
	[BeforeState] [nvarchar](max) NULL,
	[AfterState] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[PermissionsId] [uniqueidentifier] NOT NULL,
	[RolesId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[PermissionsId] ASC,
	[RolesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUsers]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUsers](
	[RolesId] [uniqueidentifier] NOT NULL,
	[UsersId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RoleUsers] PRIMARY KEY CLUSTERED 
(
	[RolesId] ASC,
	[UsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.09.2025 21:05:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[PersonnelNumber] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Salt] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250915202842_initalMigration', N'9.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250916141231_Product_Category_Entities_Added', N'9.0.3')
GO
INSERT [dbo].[Categories] ([Id], [Name], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'2bc36969-9dff-49a7-9a34-11f0c061eb4e', N'Sports and Outdoors', CAST(N'2025-09-16T20:26:20.5928263' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
INSERT [dbo].[Categories] ([Id], [Name], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'06f781d6-3063-42ee-a6bb-220c3b01be97', N'Books', CAST(N'2025-09-16T20:26:15.5069407' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
INSERT [dbo].[Categories] ([Id], [Name], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'bffbb234-b4e5-41ff-8499-9eee93126fbd', N'Clothing', CAST(N'2025-09-16T20:26:10.5229818' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
GO
INSERT [dbo].[Logs] ([Id], [CreatedDateTime], [EntityName], [Operation], [EntityId], [BeforeState], [AfterState]) VALUES (N'465c86f9-824d-4e53-8bee-073e6fb20656', CAST(N'2025-09-16T16:24:44.0588586' AS DateTime2), N'Permission', N'Added', N'264f8f5a-e8a0-4e39-8451-3a140129dd48', NULL, N'{"Name":"DataDefinition.CategoryManagement.Edit","Description":"Category Edit","Roles":null,"Id":"264f8f5a-e8a0-4e39-8451-3a140129dd48","CreateDate":"2025-09-16T19:24:44.0550597","CreatedBy":"8e078112-7acf-496b-8464-29a26b20bde5","UpdateDate":null,"UpdatedBy":null,"IsDeleted":false}')
INSERT [dbo].[Logs] ([Id], [CreatedDateTime], [EntityName], [Operation], [EntityId], [BeforeState], [AfterState]) VALUES (N'090e169d-b322-4004-afd0-09f2447a86f8', CAST(N'2025-09-16T12:26:23.5898394' AS DateTime2), N'Permission', N'Added', N'b3147189-e284-4779-bb03-00ca27f405e0', NULL, N'{"Name":"RoleRightManagement.Add","Description":"Role Add","Roles":null,"Id":"b3147189-e284-4779-bb03-00ca27f405e0","CreateDate":"2025-09-16T15:26:23.5020396","CreatedBy":"f2c56a2e-40d0-430c-8e66-99990d9fa362","UpdateDate":null,"UpdatedBy":null,"IsDeleted":false}')
INSERT [dbo].[Logs] ([Id], [CreatedDateTime], [EntityName], [Operation], [EntityId], [BeforeState], [AfterState]) VALUES (N'5a3dcb0b-60a8-4086-9a3b-0bf7f43a0f7c', CAST(N'2025-09-16T17:31:23.7761910' AS DateTime2), N'Product', N'Added', N'e246cac6-8532-4f1e-a22f-0acd32d60444', NULL, N'{"Name":"Washing Machine","Price":350.00,"Stock":8,"CategoryId":"e2d8964e-14c7-4123-87ec-f5e1f039b751","Category":null,"Id":"e246cac6-8532-4f1e-a22f-0acd32d60444","CreateDate":"2025-09-16T20:31:23.7711722","CreatedBy":"f2c56a2e-40d0-430c-8e66-99990d9fa362","UpdateDate":null,"UpdatedBy":null,"IsDeleted":false}')
GO
INSERT [dbo].[Permissions] ([Id], [Name], [Description], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'b3147189-e284-4779-bb03-00ca27f405e0', N'DataDefinition.RoleRightManagement.Add', N'Role Add', CAST(N'2025-09-16T15:26:23.5020396' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
INSERT [dbo].[Permissions] ([Id], [Name], [Description], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'70525fd3-41a8-43b3-8d97-1ebb34641941', N'DataDefinition.ProductManagement.Edit', N'Product Edit', CAST(N'2025-09-16T18:22:04.7657358' AS DateTime2), N'8e078112-7acf-496b-8464-29a26b20bde5', NULL, NULL, 0)
INSERT [dbo].[Permissions] ([Id], [Name], [Description], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'73c8e24b-ee8e-473f-94ea-2c7d78a4f1ae', N'DataDefinition.RoleRightManagement.Delete', N'Role Delete', CAST(N'2025-09-16T15:26:44.7591576' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
GO
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [CategoryId], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'e246cac6-8532-4f1e-a22f-0acd32d60444', N'Washing Machine', CAST(350.00 AS Decimal(18, 2)), 8, N'e2d8964e-14c7-4123-87ec-f5e1f039b751', CAST(N'2025-09-16T20:31:23.7711722' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [CategoryId], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'0a1e4ff4-3c95-4453-b020-0f4ea94ff808', N'Database Management Systems', CAST(60.00 AS Decimal(18, 2)), 40, N'13ea9afd-600e-4b74-a8cc-d2f4cd5de163', CAST(N'2025-09-16T20:33:57.3408483' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [CategoryId], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'29faa75e-f249-4afd-b3d3-1f4e0b020752', N'Cookware Set', CAST(80.00 AS Decimal(18, 2)), 25, N'8cb8b6e2-e238-4fb1-b9de-e98a52d29876', CAST(N'2025-09-16T20:32:52.6374636' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
GO
INSERT [dbo].[RolePermissions] ([PermissionsId], [RolesId]) VALUES (N'b3147189-e284-4779-bb03-00ca27f405e0', N'3fa85f64-5717-4562-b3fc-2c963f66afa6')
INSERT [dbo].[RolePermissions] ([PermissionsId], [RolesId]) VALUES (N'70525fd3-41a8-43b3-8d97-1ebb34641941', N'3fa85f64-5717-4562-b3fc-2c963f66afa6')
INSERT [dbo].[RolePermissions] ([PermissionsId], [RolesId]) VALUES (N'73c8e24b-ee8e-473f-94ea-2c7d78a4f1ae', N'3fa85f64-5717-4562-b3fc-2c963f66afa6')
GO
INSERT [dbo].[Roles] ([Id], [RoleName], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'3fa85f64-5717-4562-b3fc-2c963f66afa6', N'SuperAdmin', CAST(N'2025-07-27T00:00:00.0000000' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
INSERT [dbo].[Roles] ([Id], [RoleName], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'c7af6450-ebfd-45f0-908b-cd6585ec1fb8', N'Creator', CAST(N'2025-07-29T14:51:05.3590136' AS DateTime2), N'f2c56a2e-40d0-430c-8e66-99990d9fa362', NULL, NULL, 0)
GO
INSERT [dbo].[RoleUsers] ([RolesId], [UsersId]) VALUES (N'3fa85f64-5717-4562-b3fc-2c963f66afa6', N'8e078112-7acf-496b-8464-29a26b20bde5')
INSERT [dbo].[RoleUsers] ([RolesId], [UsersId]) VALUES (N'3fa85f64-5717-4562-b3fc-2c963f66afa6', N'f2c56a2e-40d0-430c-8e66-99990d9fa362')
INSERT [dbo].[RoleUsers] ([RolesId], [UsersId]) VALUES (N'c7af6450-ebfd-45f0-908b-cd6585ec1fb8', N'f2c56a2e-40d0-430c-8e66-99990d9fa362')
GO
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Username], [Email], [Password], [PersonnelNumber], [IsActive], [Salt], [CreateDate], [CreatedBy], [UpdateDate], [UpdatedBy], [IsDeleted]) VALUES (N'8e078112-7acf-496b-8464-29a26b20bde5', N'Ahmet', N'Sadıkoğlu', N'Lawlie', N'ahmet.sadikoglu@ecommerce.com', N'EXYzoBLSXPdxXrB5KDGO0IRCb4PbboLqUxhkPSalEyheiPNonr4BQtnql+6eQF2J/ZatQuwWAnCzCRE9E30OCQ==', N'000003', 1, N'YLZPXoaEanJhVaHBCK5V4Q==', CAST(N'2025-09-16T16:49:28.1101850' AS DateTime2), N'3710519f-7d2c-4f44-9549-af6388defeb1', NULL, NULL, 0)
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 16.09.2025 21:05:13 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_RolesId]    Script Date: 16.09.2025 21:05:13 ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_RolesId] ON [dbo].[RolePermissions]
(
	[RolesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleUsers_UsersId]    Script Date: 16.09.2025 21:05:13 ******/
CREATE NONCLUSTERED INDEX [IX_RoleUsers_UsersId] ON [dbo].[RoleUsers]
(
	[UsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions_PermissionsId] FOREIGN KEY([PermissionsId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions_PermissionsId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles_RolesId] FOREIGN KEY([RolesId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles_RolesId]
GO
ALTER TABLE [dbo].[RoleUsers]  WITH CHECK ADD  CONSTRAINT [FK_RoleUsers_Roles_RolesId] FOREIGN KEY([RolesId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUsers] CHECK CONSTRAINT [FK_RoleUsers_Roles_RolesId]
GO
ALTER TABLE [dbo].[RoleUsers]  WITH CHECK ADD  CONSTRAINT [FK_RoleUsers_Users_UsersId] FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleUsers] CHECK CONSTRAINT [FK_RoleUsers_Users_UsersId]
GO
USE [master]
GO
